<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Flask Login Example
</h1>
<h2 class="subtitle">
  Easy authentication and authorization in Flask.
</h2>


    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">
      <h3 class="margin">Where To Find Me?</h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="container-fluid bg-4 text-center">
      <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p>
    </footer>

    </body>
    </html>


    {% endblock %}
